<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a user</title>
    <link rel="stylesheet" href="/css/styleHomepage.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="">Update a user</a>
    </div>
    <div class="form-container">
        <form class="m-3" action="/create-user" method="POST" autocomplete="on">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input value="<%=userArr.email%>" type="text" class="form-control" id="exampleInputEmail1" name="email"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Your Name</label>
                <input value="<%=userArr.name%>" type="text" class="form-control" id="name" name="name"
                    aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">Your City</label>
                <input value="<%=userArr.city%>" type="text" class="form-control" id="city" name="city"
                    aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>